<div>
  <button (click)="previousPage()" [disabled]="currentPage === 0" class="btn btn-info mb-2">Anterior</button>
  <button (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= totalElements" class="btn btn-info mb-2">Siguiente</button>
</div>
<div>
  <label>Tamaño de página:</label>
  <select (change)="changePageSize($event)">
    <option value="1">1</option>
    <option value="3" selected>3</option>
    <option value="5">5</option>
  </select>
</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Vehículos</h3>
    </div>
    <div class="card-body text-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>MODELO</th>
            <th>STOCK</th>
            <th>PRECIO</th>
            <th>ID SUCURSAL</th>
            <th>DIRECCIÓN SUCURSAL</th>
            <th>IMÁGENES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos">
            <td>{{ vehiculo?.idVehiculo }}</td>
            <td>{{ vehiculo?.modelo }}</td>
            <td>{{ vehiculo?.stock }}</td>
            <td>{{ vehiculo?.precio }}</td>
            <td>{{ vehiculo?.sucursal?.idSucursal }}</td>
            <td>{{ vehiculo?.sucursal?.direccion }}</td>
            <td>
              <div *ngFor="let imagen of vehiculo?.imagenes">
                <p>Nombre: {{ imagen.nombre }}</p>
                <img [src]="'data:image/jpeg;base64,' + imagen.contenido" alt="{{ imagen.nombre }}" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
